.section_header{

    background-color: rgb(249, 245, 243) ;
    width: 100%;
    height: 80px;

    border-radius: 8px;

    display: grid;
    grid-template-columns: 150px 1fr 140px 140px 20px ;


}


/* //////////////////////////////////////////////////////////////////////////////////// */
.div_forkify_logo {
    background-color: rgba(255, 192, 203, 0);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}
.img_forkify_logo{

    width: 100px;
}
/* //////////////////////////////////////////////////////////////////////////////////// */




/* //////////////////////////////////////////////////////////////////////////////////// */
.div_search_bar{
    background-color: rgba(129, 111, 85, 0);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    
}
.form_input_search_bar{

    position: relative;

    display: grid;
    grid-template-columns: auto auto;
}
.input_search_bar{
    

    width: calc(350px - 40px);
    height: 40px;
    
    border: none;

    padding-left: 40px;

    border-radius: 20px;

    outline: none;

    font-family: gilroy;
    letter-spacing: 1px;
    color: rgb(162, 162, 162); 
       
}
.btn_search{
    
    background-image: linear-gradient(to bottom right, #ffb25a, #ff7575);
    border: none;

    width: 150px;
    height: 42px;

    

    

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    margin-left: -90px;

    cursor: pointer;

    transition: all ease 0.2s;

}
.btn_search:active{
    background-image: linear-gradient(to bottom right, #ffb25ad4, #ff7575cf);
    
}

.img_search_icon{
    width: 16px;
    height: 16px;

    

    display: inline;
    margin-right: 15px;
    
    transition: all ease 0.3s;
}
.btn_search:hover .img_search_icon{

    width: 18px;
    height: 18px;
    

}
.text_search{
    display: inline;  
    margin: 0px;

    font-family: gilroy;
    font-size: 12px;   
    color: rgba(255, 255, 255, 0.702);
    letter-spacing: 1px;

    transition: all ease 0.3s;
}
.btn_search:hover .text_search{
    font-size: 14px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */




/* //////////////////////////////////////////////////////////////////////////////////// */
.div_add_recipes{
    background-color: rgba(137, 43, 226, 0);
    width: 140px;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all ease 0.1s;
}
.div_add_recipes:hover{
    background-color: rgb(231, 231, 231);
}
.img_add_recipe_icon{
    width: 20px;
    height: 20px;

    display: inline;

    margin-right: 6px;
    
}
.text_add_recipe{
    margin: 0px;
    display: inline;

    font-family: gilroy;
    font-size: 12px;   
    color: rgba(255, 255, 255, 0.702);
    letter-spacing: 1px;
    color:#000000;

}



.main_recipe_upload_bigger{

    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.361);

    display: flex;
    justify-content: center;
    align-items: center;

      

      
}
.div_recipe_upload{

    width: 900px;
    height: 500px;
    background-color: rgb(255, 255, 255);

    border-radius: 8px;

    position: relative;  

    display: grid;
    grid-template-columns: 1fr 1fr;
}
.div_recipe_upload form {

    position: relative;

    border-radius: 8px;
    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    width: 900px;
    
  }
  

.btn_cross{

    position: absolute;

    right: 10px;
    top: 10px;

    border: none;
    background-color: rgba(255, 0, 0, 0);
    height: 28px;
    width: 28px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    z-index: 23000;

}
.btn_cross:hover{
    opacity: 0.8;
}
.btn_cross:active{
    opacity: 0.3;
}


.section_recipe_data{

    background: #e2f8ff00;    

    position: relative;

    font-family: gilroy;

}  
.div_label_inputs{

    position: absolute;
    left: 50%;
    transform: translate(-50%,50%);
    top: -20px;

    display: flex;
}

.div_label_inputs{

    margin-top: 30px;

    display: grid;
    grid-template-columns: 60px 250px;
    grid-template-rows: 30px 30px 30px 30px 30px 30px ;
    column-gap: 60px;
    row-gap: 10px;

    transition: all ease 0.3s;
}
.div_label_inputs input{

    border-radius: 5px;
    border: 3px solid rgba(0, 0, 0, 0.092);
    outline: none;

    font-family: gilroy;
    font-size: 14px;

    padding-left: 10px;
    color: rgb(109, 109, 109);
    transition: all ease 0.2s;
}
.div_label_inputs input:focus{
    border: 3px solid #ffb25ad8;
    background-color:#ffb25a0f;
    transition: all ease 0.2s;
    
}
.div_label_inputs h3{
    text-wrap: nowrap;
    font-family: gilroy;
    font-size: 14px;
    font-weight: 300;
    margin: 0px;
    margin-top: 8px;
    letter-spacing: 0.5px;
    color: rgb(109, 109, 109);
}

.h2_heading{
    
    margin-left: 40px;
    font-family: gilroy;
    margin-top: 50px;
    color: rgba(0, 0, 0, 0.497);
}

.btn_form_submit{

    position: absolute;
   left: 50%;
   transform: translate(-50%);
   bottom: 50px;
    

    width: 160px;
    height: 50px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: none;

    background-image: linear-gradient(to bottom right, #ffb25ad4, #ff7575cf);

    cursor: pointer;
}
.btn_form_submit:hover{

    background-image: linear-gradient(to bottom right, #ffb25aa2, #ff7575a0);
}
.btn_form_submit:active{

    background-image: linear-gradient(to bottom right, #ffb25ad4, #ff7575cf);
}
.upload_icon{
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}
.text_upload{
    display: inline;
    margin: 0px;
    color: rgb(255, 255, 244);
    margin-left: 5px;
    font-family: gilroy;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

/* //////////////////////////////////////////////////////////////////////////////////// */






/* //////////////////////////////////////////////////////////////////////////////////// */
.div_add_bookmarks{
    background-color: rgba(222, 184, 135, 0);
    width: 140px;
    height: 100%;

    cursor: pointer;

    position: relative;
}

.div_add_bookmarks_inner{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffb25a00;
    height: 100%;
    width: 140px;
    
    
    transition: all ease 0.1s;   

    position: relative;
}
.div_add_bookmarks_inner:hover{
    background-color: rgb(231, 231, 231);
}

.div_add_bookmarks_inner:hover + .div_bookmark_header_tool_tip {
    opacity: 1; /* Show the tooltip when .div_add_bookmarks_inner is hovered */
    visibility: visible;
  }
.div_bookmark_header_tool_tip{
    position: absolute;
    top: 80px;
    right: -20px;

    width: 350px;
    
    background-color: rgb(249, 245, 243) ;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;

    
    z-index: 10000;

    transition: all ease 0.5s;

}
.div_bookmark_header_tool_tip{

 &:hover,
 div_add_bookmarks_inner:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
.div_no_bookmarks{
    display: flex;

    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}
.img_cation{
    width: 38px;
    height: 38px;
}
.text_no_bookmarks{
    margin: 0px;
    font-family: gilroy;
    margin-left: 20px;
    color: #5e5e5e;
}



/* //////////////////////////////////////////////////////////////////////////////////// */
