body {
    margin: 0px;

    width: 100vw;
    height: 100vh;

    overflow: auto;
}
#root{

    margin: 0px;

    width: 100vw;
    height: 100vh;

    overflow: auto;

}

.div_containing_everything{
    margin: 0px;

    width: 100vw;
    height: 100vh;

    overflow: auto;

    background-image: linear-gradient(to bottom right, #ffb25a, #ff7575);

    position: relative;
}



.main_box{

    

    position: absolute;
    left: 50%;
    transform: translate(-50%);

    margin-top: 25px;

    width: 1000px;
    height: 900px;
    background-color: rgb(234, 234, 234);

    display: grid;
    grid-template-rows: 93px 1fr;

    border-radius: 8px;

    
}







.section_left_right_both{
    background-color: #18917300;
    height: 100%;
    width: 100%;

    border-radius: 8px;

    display: grid;
    grid-template-columns: 350px 1fr ;
    column-gap: 13px;
}



